:root {
    --global-border-radius: 4px;

    --theme-color: var(--primary-color);

    --code-block-border-radius: 0;
    --code-block-padding: 1rem 1.5rem;

    --code-block-border-radius: var(--global-border-radius);
    --blockquote-border-radius: var(--global-border-radius);

    --sidebar-nav-pagelink-background-image--active: var(--sidebar-active-icon);
    --sidebar-nav-pagelink-background-image--loaded: var(--sidebar-active-icon);
}

pre[class*="language-"] {
    border-left: 4px solid var(--primary-color);
}

pre[class*="language-"]::after {
    content: none !important;
}

.inline-icon {
    height: 1rem;
    display: inline;
    margin-bottom: -0.2rem;
}

@media (max-width: 767px) {
    #docsify-darklight-theme {
        top: 24px;
        left: 0;
        right: 0 !important;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    #docsify-darklight-theme {
        right: 48px;
    }
}

.mermaid {
    text-align: center;
}
